<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesionControlador</servlet-name>
        <servlet-class>controller.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCuentaControlador</servlet-name>
        <servlet-class>controller.CrearCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicarControladorControlador</servlet-name>
        <servlet-class>controller.PublicarControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarControlador</servlet-name>
        <servlet-class>controller.BuscarControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarPublicacionControlador</servlet-name>
        <servlet-class>controller.RecuperarPublicacionControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarPublicacionesPorNicknameControlador</servlet-name>
        <servlet-class>controller.BuscarPublicacionesPorNicknameControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarInformacion</servlet-name>
        <servlet-class>controller.EditarInformacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AniadirMascota</servlet-name>
        <servlet-class>controller.AniadirMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarMascota</servlet-name>
        <servlet-class>controller.EditarMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPublicacionControlador</servlet-name>
        <servlet-class>controller.EditarPublicacionControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aniadirAmigo</servlet-name>
        <servlet-class>controller.aniadirAmigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comentar</servlet-name>
        <servlet-class>controller.Comentar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesionControlador</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCuentaControlador</servlet-name>
        <url-pattern>/CrearCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicarControladorControlador</servlet-name>
        <url-pattern>/publicarControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarControlador</servlet-name>
        <url-pattern>/BuscarControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarPublicacionControlador</servlet-name>
        <url-pattern>/RecuperarPublicacionControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarPublicacionesPorNicknameControlador</servlet-name>
        <url-pattern>/BuscarPublicacionesPorNicknameControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarInformacion</servlet-name>
        <url-pattern>/EditarInformacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AniadirMascota</servlet-name>
        <url-pattern>/AniadirMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarMascota</servlet-name>
        <url-pattern>/EditarMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPublicacionControlador</servlet-name>
        <url-pattern>/EditarPublicacionControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aniadirAmigo</servlet-name>
        <url-pattern>/aniadirAmigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comentar</servlet-name>
        <url-pattern>/Comentar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
